body{
   background: #f1f1f1;
   color: #555;
}
.corpo{
    width: 1000px;
    margin: auto;
}

.conteudo{
    display: table;
}
.imagem{
    display: table-cell;
    float: left;
}
.texto{
    display: table-cell;
    float: left;
    width: 300px;
}
